body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

/* User picture */
.usr_pic {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

/* Navbar */
.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
}
