{% extends "main.html" %}
{% block content %}

<h1 class="my-4">{{book.title}}</h1>

<div class="row">

  <div class="col-lg-6">
    <h3>
        Synopsis:
        <br>
        <small>{{book.synopsis}}</small>
        <br><br>
        Price:
        <br>
        <small>{{book.price}}</small>
        <br><br>
        Author:
        <br>
        <small>{{book.author}}</small>
        <br><br>
        <small style="font-size:0.75em; color:red;">Book inserted by: {{creator.name}}</small>
        {% if book.user_id == login_id %}
        <br>
        <small>
            <a href="{{url_for('editBook', genre_id=genre.id, book_id=book.id)}}">edit</a> |
            <a href="{{url_for('deleteBook', genre_id=genre.id, book_id=book.id)}}">delete</a>
        </small>
        {% endif %}
    </h3>
  </div>

  <div class="col-lg-6">
      <img src="{{book.cover}}" alt="">
  </div>

</div>
{% endblock %}
